
.backdrop-container {
    height: 100%;
    width: 100%;
    filter: blur(0px);
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    color: white;
}

.vote-average {
    width:25%;
    height: 3em;
    background-color: var(--bs-primary);
    color: var(--bs-white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid var(--bs-light);
}