.game-card-adm {
    border-radius: 8px !important;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none !important;
    transition: 1s all;
}

.poster-container-adm {
    position: relative;
}

.card-body-adm {
    position: relative;
}