.game-card-usr {
    border-radius: 10px !important;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none !important;
    transition: 1s all;
}

.poster-container-usr {
    position: relative;
}